In [53]:
# set your file_path
import pandas as pd
file_path = '2019rating.xlsx'
df = pd.read_excel(file_path)

col = df.iloc[0]
x = df.iloc[1:-1, :-1]
x.columns = col.values[:-1]
x.to_csv('2019rating.csv')

,시간대,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
1,02:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,02:01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.012
3,02:02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,02:03,0,0,0.014,0,0,0,0,0,0,...,0,0,0,0.017,0,0,0,0,0,0
5,02:04,0,0,0,0,0,0,0,0,0,...,0,0,0,0.017,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1436,01:55,0,0,0,0,0,0,0,0,0.004,...,0,0.013,0,0,0,0.015,0,0,0,0
1437,01:56,0,0,0,0,0.027,0,0,0,0,...,0,0.013,0,0,0,0.015,0,0,0,0
1438,01:57,0,0,0,0,0,0,0,0,0.004,...,0,0.013,0,0,0,0.015,0,0,0,0
1439,01:58,0,0,0,0,0,0,0,0,0.004,...,0,0.013,0.017,0,0,0.015,0,0,0.019,0
1440,01:59,0,0,0,0,0,0,0,0,0.004,...,0,0.013,0,0,0,0.015,0,0,0,0